<Config>
  <API>
    <!-- 반드시! http://steamcommunity.com/dev/apikey 에서 API 키를 받아 작성해주세요 -->
    <Key>EDITPLEASE</Key>
    <BaseLang>ko_KR</BaseLang>
  </API>
  <MESSAGE>
    <ItemSchemaLoad>아이템 스캐마 불러오는 중 . . .</ItemSchemaLoad>
    <ItemImageDownload>아이템 이미지 다운로드 중 . . .</ItemImageDownload>
    <TemplateLoad>템플릿 불러오는 중 . . .</TemplateLoad>
  </MESSAGE>
</Config>