<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cobalt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cobalt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Cobalt.Properties.Settings>
            <setting name="API_KEY" serializeAs="String">
                <value>B8CD702663355E7D7D49FB849E2AF407</value>
            </setting>
            <setting name="API_LANG" serializeAs="String">
                <value>ko_KR</value>
            </setting>
            <setting name="LOAD_ITEM" serializeAs="String">
                <value>아이템 스캐마 불러오는 중 . . .</value>
            </setting>
            <setting name="LOAD_TEMPLATE" serializeAs="String">
                <value>템플릿 불러오는 중 . . .</value>
            </setting>
            <setting name="LOAD_ITEM_IMAGE" serializeAs="String">
                <value>아이템 이미지 다운로드 중 . . .</value>
            </setting>
        </Cobalt.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Cobalt.Properties.Settings>
            <setting name="PATH_IMG_ITEMS" serializeAs="String">
                <value>Image/Backpack-Icon/</value>
            </setting>
            <setting name="PATH_CFG" serializeAs="String">
                <value>Config/</value>
            </setting>
            <setting name="PATH_BASE" serializeAs="String">
                <value>Templates/</value>
            </setting>
        </Cobalt.Properties.Settings>
    </applicationSettings>
</configuration>